# Add your Stripe secret key and webhook secret here.
# See https://stripe.com/docs/keys and https://stripe.com/docs/webhooks for more info.
STRIPE_SECRET_KEY=sk_test_YOUR_STRIPE_SECRET_KEY
STRIPE_WEBHOOK_SECRET=whsec_YOUR_STRIPE_WEBHOOK_SECRET

# Add your Stripe publishable key here.
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_YOUR_STRIPE_PUBLISHABLE_KEY
